:root {
  --bg-colour: #1f1f1f;
  --fg-colour: #f1f1f1;
  --bg-accent: #0f0f3f;
  --fg-accent: #2f2fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-colour: #f1f1f1;
    --fg-colour: #1f1f1f;
    --bg-accent: #7f7fff;
    --fg-accent: #f2f2ff;
  }
}

body {
  background-color: var(--bg-colour);
  color: var(--fg-colour);
}
